.topBar {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

h1 {
  background-color: var(--color-primary);
  border-radius: 15px;
  padding: 10px;
  margin-left:200px;
}
